/* * {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
} */
* {
  margin: 0;
}
.navbar {
  background: blue;
  color: white;
  height: 6rem;
  font-size: 3rem;
}
.banner {
  background: red;
  /* height: calc(100vh - 100px); */
  min-height: calc(100vh - 6rem);
  max-height: 90vh;
  overflow: hidden;
  overflow: scroll;
}
.example {
  background-color: green;
  width: 10rem;
  height: 25rem;
  overflow: hidden;
  overflow: scroll;
}
