* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  margin-bottom: 0;
  color: #645cff;
  text-transform: uppercase;
}
nav {
  height: 5rem;
  padding: 0 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 0 1rem;
  justify-content: space-between;
  list-style: none;
}
.nav-link {
  text-transform: capitalize;
  color: #222;
  font-size: 1.25rem;
  text-decoration: none;
}
